In [1]:
# 031 문자열 합치기

# 아래 코드의 실행 결과를 예측
# 34 가 출력된다.
# 문자열 a  + c 는 ac 가되듯이 3+4의 연산이 아니라 3과 4가 이어져 출력된다.

a = "3"
b = "4"
print(a+b)

34

In [2]:
# 032 문자열 곱하기

# 아래 고드의 실행 결과를 예측
# HiHiHi 가 출력된다.

print("Hi" * 3)

HiHiHi

In [3]:
# 033 문자열 곱하기

# 화면에 '-' (대쉬) 를 80개 출력

print('-'*80)

--------------------------------------------------------------------------------

In [15]:
# 034 문자열 곱하기

# 변수에 다음과 같은 문자열이 바인딩되어 있다.
# 변수에 문자열 더하기와 곱하기를 사용해서 다음과 같이 출력

# 실행 : python java python java python java python java

a = "python"
b = "java"
c = a + ' ' + b + ' '
print(c*4)

python java python java python java python java

In [9]:
# 035 문자열 출력

# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 
# % formatting 을 사용해서 다음과 같이 출력

name1 = "김민수"
age1 = 10
name2 = '이철희'
age2 = 13

print("이름 : %s 나이 : %d" % (name1, age1))
print("이름 : %s 나이 : %d" % (name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [19]:
# 036 문자열 출력

# 문자열의 format() 메서드를 사용해서 35번 문제를 다시 풀기

name1 = "김민수"
age1 = 10
name2 = '이철희'
age2 = 13

print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [22]:
# 037

# f-string 을 사용하여 35번 문제를 다시 풀기

name1 = "김민수"
age1 = 10
name2 = '이철희'
age2 = 13

# f 띄어쓰고 " 이름~ 안됨, 무조건 f" 로 붙여써야한다.
print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [31]:
# 038 컴마제거하기

# 삼성전자의 상장주식수가 다음과 같다.
# 컴마를 제거한 후 이를 정수 타입으로 변환

삼성주식수 = "5,969,782,550"
삼성주식수 = 삼성주식수.replace(",", "")
print(삼성주식수)

삼성주식수 = int(삼성주식수)
print(삼성주식수, type(삼성주식수))

5969782550
5969782550 <class 'int'>

In [36]:
# 039 문자열 슬라이싱

# 다음과 같은 문자열에서 '2020/03' 만 출력

분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

2020/03

In [41]:
# 040 strip 메서드

# 문자열의 좌우의 공백이 있을 때 이를 제거

data = "   삼성전자   "
print(data)

data = data.strip()
print(data)

   삼성전자
삼성전자