In [1]:
# 71~80번


# my_variable 이름의 비어있는 튜플을 생성

my_variable = ()

print(type(my_variable))

<class 'tuple'>

In [2]:
# 072

# 201년 11월 영화 예매 순위 기준 top3는 다음과 같다.
# 영화 제목을 movie_rank 이름의 튜플에 저장 (순위 정보는 저장하지 않는다.)

'''

순위  영화
1    닥터 스트레인지
2    스플릿
3    럭키
'''

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [3]:
# 073

# 숫자 1이 저장된 튜플을 생성

tp = (1)

print(tp, type(tp))

1 <class 'int'>

In [4]:
# 074

# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명

'''
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment
'''
t = (1, 2, 3)
t[0] = 'a'

# 튜플은 데이터 변환이 불가능하다. 따라서 오류가 난다.

TypeError: 'tuple' object does not support item assignment

In [5]:
# 075

# 다음 t 에는 1, 2, 3, 4 데이터가 바인딩되 있다.
# t 가 바인딩하는 데이터 타입은?

t = 1, 2, 3, 4

print(type(t))

# 괄호가 없어도 튜플 데이터 타입으로 생성된다.

<class 'tuple'>

In [6]:
# 076

# 변수 t에는 다음 값이 저장되어 있다.
# 변수 t 가 ('A', 'b', 'c') 튜플이 되도록 수정

t = ('a', 'b', 'c')

t = ('A', 'b', 'c')

print(t)

# 튜블원 인덱싱을 통한 데이터 변경이나 capitalize 가 불가능하다. 
# capitalize 는 문자열에서 가능

('A', 'b', 'c')

In [7]:
# 077

# 다음 튜플을 리스트로 변환

interest = ('삼성전자', 'LG전자', 'SK Hynix')

interest_lst = list(interest)

print(interest_lst, type(interest_lst))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [8]:
# 078 

# 다음 리스트를 튜플로 변경

interest= ['삼성전자', 'LG전자', 'SK Hynix']

interest_tp = tuple(interest)

print(interest_tp, type(interest_tp))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [9]:
# 079 튜플 언패킹

# 다음 코드의 실행 결과를 예상

temp = ('apple', 'banana', 'cake')

a, b, c = temp

print(a, b, c)
print("a : ", a)
print("b : ", b)
print("c : ", c)

apple banana cake
a :  apple
b :  banana
c :  cake

In [2]:
# 080 range 함수

# 1부터 99까지의 정수 중 짝수만 저장된 튜플을 생성

tp = tuple(range(2, 100, 2))

print(tp, type(tp))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98) <class 'tuple'>