In [1]:
# 파이썬 변수
# 011

# 1. 삼성전자라는 변수로 50,000원을 바인딩
# 2. 삼성전자 주식 10주를 보유하고 있을 때 총 평가액을 출력

삼성전자 = 50000
총평가액 = 삼성전자 * 10
총평가액

500000

In [3]:
# 012

# 1. 삼성전자의 일부 투자정보
# 2. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩

시가총액 = 298000000000000
현재가 = 50000
PER =  15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [7]:
# 문자열 출력
# 013

# 1. 변수 s 와 t 에는 각각 문자열이 바인딩 되어있다.

s = "hello"
t = "python"

# 2. 두 변수를 이용하여 "hello python" 와 같이 출력
print(s + '! ' + t)

hello! python

In [9]:
# 파이썬을 이용한 값 계산

# 014

# 2 + 2 * 3 의 결과는?
print(2 + 2 * 3)

8

In [13]:
# type 함수

# 015
# a = "132" 의 값 타입을 판별
a = '132'
print(a, type(a))

132 <class 'str'>

In [16]:
# 문자열을 정수로 변환

# 016
# num_str = "720" 을 정수형으로 변환
num_str = "720"
print(type(num_str))

num_int = int(num_str)
print(type(num_int))

<class 'str'>
<class 'int'>

In [20]:
# 정수를 문자열 100으로 변환

# 017
# num = 100 을 정수에서 문자열로 변환
num = 100
print(type(num))

num_str = str(num)
print(type(num_str))

<class 'int'>
<class 'str'>

In [22]:
# 문자열을 실수호 변환

# 018

# 문자열 "15.97" 를 실수 (float) 타입으로 변환
a = "15.97"
print(type(a))

a = float(a)
print(type(a))

<class 'str'>
<class 'float'>

In [25]:
# 문자열을 정수로 변환

# 019

# year 변수에 문자열 타입의 연도를 바인딩하고 있다. 이를 정수로 변환 후 최근 3년의 연도를 화면에 출력
year = "2020"
print(type(year))

year = float(year)
print(type(year))
print(year -2, year - 1, year)

<class 'str'>
<class 'float'>
2018.0 2019.0 2020.0

In [28]:
# 파이썬 계산

# 020

# 에어컨이 월 48,584 원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있다. 
# 총 금액을 계산 후 이를 출력
에어컨_월요금 = 48584
무이자_개월수 = 36
총금액 = 에어컨_월요금 * 무이자_개월수
총금액

1749024